body {
    text-align: center;
    background-color: lightskyblue;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

form input, select {
    width: 30%;
    padding: 5px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.button {
    width: 150px;
    padding: 15px;
    border-radius: 40px;
  }

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(248, 230, 230);
    border-radius: 150px;
    width: 50%;
    height: 550px;
    margin-left: 25%;
    margin-right: 50%;
    padding-top: 50px;
    background-color: rgb(247, 232, 232);
}

h2 {
    font-size: 17px;
}
